* {
   box-sizing: border-box;
   padding: 0%;
   margin: 0%;
}

/* VARIAVEIS CSS*/
:root {
   --branquinho: #f1f1f1;
   
   
   --amarelofedo: #fedd00;
   --gradient: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));

}
body{
   background-color: #000000;
    font-family: sans-serif;
    font-weight: 500;
    margin-right: 0px;
    margin-left: 0px;
    /* margin-bottom: 30px; */
    /* margin-top:30px ; */
}
#login{
   font-size: 23px;
   color:#f1f1f1;
   text-decoration: none;
   font-weight: 900;
   transition: color .5s;
   text-transform: uppercase;
   position: relative;
   z-index:10;
   display:inline-block ;
   font-family: 'Poppins';
   


}
.item-menu {
   font-size: 23px;
   color:#f1f1f1;
   text-decoration: none;
   font-weight: 900;
   transition: color .5s;
   text-transform: uppercase;
   position: relative;
   z-index:10;
   display:inline-block ;
   font-family: 'Poppins';

}
#login::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   height: 2px;
   width: 0;
   background-color: var(--amarelofedo);
   transition: width 0.3s ease;
}
.item-menu::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   height: 2px;
   width: 0;
   background-color: var(--amarelofedo);
   transition: width 0.3s ease;
}

#login:hover::after {
   width: 100%;
   
}
.item-menu:hover::after {
   width: 100%;
}
a:hover {
   color: var(--amarelofedo);
}
#login:hover{
   color:#fedd00;
  
   
}


.topo {
   position: relative;
   text-align: center;
   padding: 20px 0;
   margin-top: -20px;
   
}
hr{
    border: none;
    height: 2px;
    background-color: #fedd00;
    width: 100vw;
    margin-top: -5px;
    margin-left: -20px;
}

.logo {
   position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  height: 80px;
  margin-left: -20px;
  

}

header {
   background-color: #000000;
   height: 120px;
   color: var(--branquinho);
   padding: 20px;
   /* display: flex; */
   
   justify-content: space-around;
}


header h1 {
   font-size: 4rem;
    font-weight: 100;
    z-index: 2;
    text-align: center;
    color: #fedd00;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 15px;
    margin: 0;
    font-family: 'Bangers';
    font-size: 78px;
}


.menu-header {
   list-style: none;

   display: flex;
    gap: 5rem;
    justify-content: center;

}










/* LOGIN MENUUUUUUUUUUUUU */
/* #login {
   font-family: Questrial;
   font-size: 18px;
   color: var(--branquinho);
   text-decoration: none;
   font-weight: 400;
   transition: color .5s;
   text-transform: uppercase;
   position: relative;
   display: inline-block; */









/* MENU HAMBURGUER */

.hamburguer {
   margin-right: -15px;
   cursor: pointer;
   position: relative;
   z-index: 999;
   display: none;
   flex-direction: column;
}

.barra {
   display: block;
   width: 3rem;
   height: .3rem;
   background-color: var(--amarelofedo);
   margin: .5rem auto;
   border-radius: 10px;
   transition: .5s;
   margin-right: 10px;
   position: relative;
   top: -64px;
   right: 20px;
   padding: 0.5px;
}
.inicio{
    width: 100%;
    min-height: 100dvh; /*Esta é uma unidade de medida relativa à altura da viewport dinâmica*/
    padding: 0rem;
    
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.banner {

   background-size: cover;
   background-position: center;
   height: 650px;
   position: relative;
   display: flex;
   align-items: flex-start;
   /* alinha o conteúdo ao topo */
   text-align: left;
   /* texto à esquerda */
   z-index: 1;
}

.banner::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   /* sombra sobre a imagem */
   z-index: 1;
}

.banner-conteudo {
   margin-top: 10%;
   position: relative;
   z-index: 2;
   padding: 2rem;
   /* afasta do topo e da esquerda */
   max-width: 600px;
}

.banner-titulo {
   font-family: 'Poppins';
   color: var(--branquinho);
   font-size: 5em;
   margin-bottom: 20px;
}

/* .banner-comprar { */
/* .banner-comprar {
   font-family: Questrial;
   background: var(--roxomedio);
   padding: 12px 25px;
   border-radius: 5px;
   color: #fff;
   border: none;
   font-size: 1em;
   cursor: pointer;
   box-shadow: 0 0 5px #00000080;
   transition: transform 0.2s, box-shadow 0.2s;
}
} */

.banner-comprar:hover {
   transform: scale(1.015);
   box-shadow: 0 0 10px #000000;
}






.footer-container {

   display: flex;
    text-align: center;
    justify-content: space-around;
    max-width: 100%;
    margin-top: 0px;
    /* color: var(--color-pri); */
    padding: 20px;
    font-size: 15px;
    /* background: #fedd00; */
    background: linear-gradient(to bottom, #fedc00,#f4971a );
}

.tituf {
   font-family: 'Bangers';
   text-align: center;



}

.direitos {
   font-family: 'Poppins';
   text-align: center;
   font-weight: bold;

}

.infos {
   font-family: 'Poppins';
   text-align: center;
   font-weight: bold;

}



@media(width <=1024px) {


   header {
      height: 60px;
      
   }
   

   .menu-header {
      width: 100%;
      height: 100vh;
      background: #000000;
      position: absolute;
      z-index: 3;
      top: 0;
      left: -100%;
      gap: 4rem;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      transition: width .5s;
      display:flex;
      align-items: center;
   }
   hr{
    border: none;
    height: 2px;
    background-color: #fedd00;
    width: 100vw;
    margin-top: -5px;
    margin-left: -20px;
    z-index:999;
   }
   header h1{
        font-size: 4rem;
        margin-right: 5px;
        text-align: center;
   }

   #titulo {
      margin: 0 auto;
      font-size: 1.2rem;
   }

   /* #produtos{
       display: block;
       flex-wrap: wrap;
       justify-content: center;
       flex-direction: column;

   } */

   .logo{
        /* width: 80px; */
        height: 60px;
        display:none;
        
    }

   .active {
      left: 0;
   }

   /* MENU HAMBURGUER */

   .hamburguer {
     display: block;
      margin-top: 4px;
      transform: translatey(-50%);
     z-index: 4;
   
   }

   /* Primeira linha */
   .hamburguer.active .barra:first-child {
      transform: translateY(13px) rotate(360deg) rotate(45deg);
   }

   /* Segunda linha */
   .hamburguer.active .barra:nth-child(2) {
      opacity: 0;
   }

   /* Terceira linha */
   .hamburguer.active .barra:last-child {
      transform: translateY(-13px) rotate(-360deg) rotate(-45deg);
      
   }


   .footer {
      width: 100%;
      margin-top: 0;
   }

   .footer-container {
      text-align: center;
      width: 100%;
      margin-top: 0px;
   }

   .tituf {
      text-align: center;
      font-size: 15px;
      margin-top: 20px;
      font-family: 'Bangers';
   }

   .direitos {
      font-size: 14px;
      text-align: center;
      margin: 10px;
   }

   .infos {
      margin: 10px;
      text-align: center;
      font-size: 14px;
   }
   .banner{
      margin-top: 45px;
      max-height: 600px;
      margin-bottom: 0;
      
   }
   .banner-titulo{
      font-size: 3em;
      margin-top: 40%;
      margin-left: -20px;
   }
   

}