*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variaveis ae */
:root{
    --color-pri: #000000;
    --color-sec: #fedd00 ;
    --color-font1: #f1f1f1  ;
    --color-font2:#e0be5f ;
     --gradient: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .3));
}
body{
    
    /* background-size: cover; */
    background-position: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-right: 5px;
    margin-left: 0px;
    background-color: var(--color-pri);

    
}



html{
    scroll-behavior: smooth;
}
nav ul{
    list-style: none;

    display: flex;
    gap: 5rem;
    justify-content: center;
    
}




.inicio{
    width: 100%;
    min-height: 100dvh; /*Esta é uma unidade de medida relativa à altura da viewport dinâmica*/
    padding: 0rem;
    
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-sec);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.topo{
    position: relative;
    text-align: center;
     padding: 20px 0; 
     
}
.logo{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  height: 80px;
  
}



header h1{
    font-size: 4rem;
    font-weight: 100;
    z-index: 2;
    text-align: center;
    color: #fedd00;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 15px;
    margin: 0;
    font-family: 'Bangers';
    font-size: 78px;
}
hr{
    border: none;
    height: 1.5px;
    background-color: #fedd00;
    width: 100vw;
    margin-top: -5px;
    margin-left: -20px;
}

.menu-header {
    list-style: none;

   display: flex;
    gap: 5rem;
    justify-content: center;


}
#login::after {
   content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--color-sec);
  transition: width 0.3s ease;
}
#login{
   font-size: 20px;
   color:#f1f1f1;
   text-decoration: none;
   font-weight: 900;
   transition: color .5s;
   text-transform: uppercase;
   position: relative;
   z-index:10;
   display:inline-block ;
   font-family: 'Poppins';
}

.item-menu{
    font-size: 20px;
   color:#f1f1f1;
   text-decoration: none;
   font-weight: 900;
   transition: color .5s;
   text-transform: uppercase;
   position: relative;
   z-index:10;
   display:inline-block ;
   font-family: 'Poppins';

}
.item-menu::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--color-sec);
  transition: width 0.3s ease;
}

.item-menu:hover::after {
  width: 100%;
}


a:hover{
    color: var(--color-font2);
}
#login:hover::after{
   width: 100%;
}
#login:hover{
   color:#fedd00;
   transition: witdh 0.3s ease;
   transition: color .5s;
   
   
}





/* MENU HAMBURGUER */

.hamburguer {
    cursor: pointer;
    position:relative;
    z-index: 2;
    
    display: none;
    flex-direction: column;

}

.barra {
    display: block;
    width: 3rem;
    height: .3rem;
    background-color: var(--color-sec);
    margin: .5rem auto;
    border-radius: 10px;
    transition: .5s;
    margin-right: 10px;
    position: relative;
    top: -64px;
    right: 20px;
    padding: 0.5px;
}
.conteudo{
    
    margin: 10px;
    padding: 10px;
    color: #f1f1f1;
    
    text-align: center;
}
.pri{
    color: #e0be5f;
    text-align: center;
    margin-bottom: 10px;
    
}

.seg{
    color: #e0be5f;
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.ter{
    color: #e0be5f;
    margin-bottom: 10px;
    margin-top: 20px;
}
/* 
.footer-content{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin-top: 10px;
    color: #f1f1f1;
    font-size: 17px;
}

    
.footer-content h4{
    font-size: 1.3rem;
    margin-bottom: 5px;
}
.footer-content li{
    font-size: 1.1rem;
    list-style: none;
}
.footer-content a{
    text-decoration: none;
    color:#ffffff;
}
.redes{
    height: 250px;
    width: 250px;
    background-color: var(--color-pri);
    text-decoration: none;

    list-style: none;
    
    border: 2px solid   #f7d372  ;
    text-align: center;
    padding: 2%;
    margin: 2%;
    


}
.ajuda{
   height: 250px;
    width: 250px;
    background-color: var(--color-pri);
    border: 2px solid   #f7d372  ;
    text-align: center;
    padding: 2%;
    margin: 2%;

}

.empresa{
   height: 250px;
    width: 250px;
    background-color: var(--color-pri);
    border: 2px solid   #f7d372  ;
    text-align: center;
    padding: 2%;
    margin: 2%;



} */


.footer-container{
   display: flex;
    text-align: center;
    justify-content: space-around;
    max-width: 100%;
    margin-top: 10px;
    /* color: var(--color-pri); */
    padding: 20px;
    font-size: 15px;
    /* background: #fedd00; */
    background: linear-gradient(to bottom, #fedc00,#f4971a );
}
.tituf{
    text-align: center;
    font-family: 'Bangers';

    

}
.direitos{

    text-align: center;
     font-weight: bold;

}
.infos{
    text-align: center;
     font-weight: bold;

}

@media(width <=1024px) {

    .menu-header{
        width: 100%;
        height: 100vh;
        background: var(--color-pri);
        position: absolute;
        z-index: 3;
        top: 0;
        left: -100%;
        gap: 6rem;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        transition: width .5s;
    }
    header h1{
        font-size: 3rem;
        margin-right: 5px;
    }

    #titulo{
        margin: 0 auto;
        font-size: 1.2rem;
    }
   
    
    .logo{
        /* width: 80px; */
        height: 60px;
        
    }
    .active {
        left: 0;
    }
    /* MENU HAMBURGUER */

    .hamburguer {
        display: block;
      margin-top: 4px;
      transform: translatey(-50%);

        
    }

    /* Primeira linha */
    .hamburguer.active .barra:first-child {
        transform: translateY(13px) rotate(360deg) rotate(45deg);
    }
    /* Segunda linha */
    .hamburguer.active .barra:nth-child(2) {
        opacity: 0;
    }
    /* Terceira linha */
    .hamburguer.active .barra:last-child {
        transform: translateY(-13px) rotate(-360deg) rotate(-45deg);
    } 

    .footer-content{
        text-align: center;
        max-width: 100%;
        align-items: center;
        flex-direction: column;
    }

  .footer-container{
  text-align: center;
  max-width: 100%;

  }

  .tituf{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    font-family: 'Bangers';
  }
  .direitos{
    text-align: center;
    margin: 10px;
  }
  .infos{
    margin: 10px;
    text-align: center;
  }
}